/* margin */
.mt5{margin-top: 5px !important;}
.mt10{margin-top: 10px !important;}
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px !important;}
.mt25{margin-top: 25px !important;}
.mt30{margin-top: 30px !important;}
.mt35{margin-top: 35px !important;}
.mt40{margin-top: 40px !important;}
.mt45{margin-top: 45px !important;}
.mt50{margin-top: 50px !important;}

.mr5{margin-right: 5px !important;}
.mr10{margin-right: 10px !important;}
.mr15{margin-right: 15px !important;}
.mr20{margin-right: 20px !important;}
.mr25{margin-right: 25px !important;}
.mr30{margin-right: 30px !important;}
.mr35{margin-right: 35px !important;}
.mr40{margin-right: 40px !important;}
.mr45{margin-right: 45px !important;}
.mr50{margin-right: 50px !important;}

.mb5{margin-bottom: 5px !important;}
.mb10{margin-bottom: 10px !important;}
.mb15{margin-bottom: 15px !important;}
.mb20{margin-bottom: 20px !important;}
.mb25{margin-bottom: 25px !important;}
.mb30{margin-bottom: 30px !important;}
.mb35{margin-bottom: 35px !important;}
.mb40{margin-bottom: 40px !important;}
.mb45{margin-bottom: 45px !important;}
.mb50{margin-bottom: 50px !important;}

.ml5{margin-left: 5px !important;}
.ml10{margin-left: 10px !important;}
.ml15{margin-left: 15px !important;}
.ml20{margin-left: 20px !important;}
.ml25{margin-left: 25px !important;}
.ml30{margin-left: 30px !important;}
.ml35{margin-left: 35px !important;}
.ml40{margin-left: 40px !important;}
.ml45{margin-left: 45px !important;}
.ml50{margin-left: 50px !important;}

/* padding */
.pt5{padding-top: 5px !important;}
.pt10{padding-top: 10px !important;}
.pt15{padding-top: 15px !important;}
.pt20{padding-top: 20px !important;}
.pt25{padding-top: 25px !important;}
.pt30{padding-top: 30px !important;}
.pt35{padding-top: 35px !important;}
.pt40{padding-top: 40px !important;}
.pt45{padding-top: 45px !important;}
.pt50{padding-top: 50px !important;}

.pl5{padding-left: 5px !important;}
.pl10{padding-left: 10px !important;}
.pt15{padding-left: 15px !important;}
.pl20{padding-left: 20px !important;}
.pl25{padding-left: 25px !important;}
.pl30{padding-left: 30px !important;}
.pl35{padding-left: 35px !important;}
.pl40{padding-left: 40px !important;}
.pl45{padding-left: 45px !important;}
.pl50{padding-left: 50px !important;}

.pr5{padding-right: 5px !important;}
.pr10{padding-right: 10px !important;}
.pr15{padding-right: 15px !important;}
.pr20{padding-right: 20px !important;}
.pr25{padding-right: 25px !important;}
.pr30{padding-right: 30px !important;}
.pr35{padding-right: 35px !important;}
.pr40{padding-right: 40px !important;}
.pr45{padding-right: 45px !important;}
.pr50{padding-right: 50px !important;}

.pb5{padding-bottom: 5px !important;}
.pb10{padding-bottom: 10px !important;}
.pb15{padding-bottom: 15px !important;}
.pb20{padding-bottom: 20px !important;}
.pb25{padding-bottom: 25px !important;}
.pb30{padding-bottom: 30px !important;}
.pb35{padding-bottom: 35px !important;}
.pb40{padding-bottom: 40px !important;}
.pb45{padding-bottom: 45px !important;}
.pb50{padding-bottom: 50px !important;}

.txt_white{ color:#ffffff !important;}
.txt_black { color:#000000 !important;}
.txt_green{ color:#025454 !important;}
.txt_green_light{ color:#00a9c0 !important;}
.txt_green_dark{ color:#2f4d56 !important;}
.txt_bule_light{ color:#005ec0 !important;}
.txt_bule_dark{ color:#002470 !important;}
.txt_brown_light{ color:#9a8478 !important;}
.txt_brown_dark{ color:#1e130c !important;}
.txt_purple_light{color:#c567d8 !important;}
.txt_yellow{ color:#fdef72 !important;}
.txt_purple_dark{ color:#361bb2 !important;}
.txt_red{ color:$red !important;}
.txt_orange{ color:$orange !important;}
.txt_point{ color:$point !important;}
.txt_hlight{
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	color: $point;
	background: rgba(50, 184, 211, 0.15);
	border-radius: 4px;
	padding: 9px 17px 6px;
	margin: 4px 8px;
	&.orange{
		color:#FF6F06;
		background:rgba(255, 111, 6, 0.15);
	}
	&.grean{
		color:#45B058;
		background:rgba(69, 176, 88, 0.15);
	}
	&.red{
		color:#FF0000;
		background:rgba(255, 0, 0, 0.15);
	}
	&.purple{
		color:#4900C0;
		background:rgba(73, 0, 192, 0.15);
	}
}

.show{
	display: block !important;
}
.show_flex{
	display: flex !important;
}
.hide{
	display: none !important;
}
.flex{
	display: flex;
}
.left{
	flex-grow: 1;
}
.right{
	flex-shrink: 0;
}

input[type=text], input[type=password], input[type=tel], input[type=email], input[type=number], textarea {
	align-items: center;
	border-radius: 4px;
	background: #FFFFFF;
	border: 1px solid #A8B7C7;
	font-size: 13px;
	color: #AEB5BC;
	box-sizing: border-box;
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	padding: 2px 8px 0;
	box-sizing: border-box;
	&.big{
		height: 40px;
		padding: 2px 20px 0;
		width: 130px;
	}
	&.ico_search{
		width: 130px;
		@include bgSvg(fnIcoSearch("rgb(151, 151, 151)"), no-repeat, 93% 50%, 15px, $white);
		padding-right: 23px;
	}
	&.ico_calendar{
		width: 130px;
		padding-right: 23px;
		@include bgSvg(fnIcoCalendar("rgb(176, 173, 171)"), no-repeat, 94% 50%, 15px, $white);
	}
}
textarea{
	padding: 10px 20px;
	height: 480px;
}

.slct{
	display: inline-block;
	position: relative;
	height: 30px;
	min-width: 50px;
	&.big{
		height: 40px;
		.slct_tit{
			padding: 2px 22px 0 20px;
		}
		.slct_cont{
			top:39px;
		}
	}
	.slct_tit{
		position: relative;
		min-width: 30px;
		height: 100%;
		padding: 2px 22px 0 8px;
		box-sizing: border-box;
		background: #FFFFFF;
		border: 1px solid #A8B7C7;
		border-radius: 4px;
		display: flex;
		align-items: center;
		font-size: 13px;
		color: #AEB5BC;
		cursor: pointer;
		z-index: 3;
		&:after{
			content: "";
			width: 7px;
			height: 4px;
			position: absolute;
			right: 8px;
			@include bgSvg(fnSlctDrop("rgb(0, 0, 0)"), no-repeat, 0 0, 7px);
		}
	}
	.slct_cont{
		min-width: 100%;
		background: #FFFFFF;
		border-radius: 4px;
		box-sizing: border-box;
		position: absolute;
		top: 29px;
		right: 0;
		overflow: hidden;
		height: 0;
		visibility: hidden;
		border-color: #A8B7C7;
		transition: all 0.1s;
		font-weight: 100;
		li{
			font-size: 14px;
			padding: 3px 9px 1px 24px;
			box-sizing: border-box;
			cursor: pointer;
			&.select{
				font-weight: 600;
				padding: 3px 9px 1px 24px;
				@include bgSvg(fnIcoCheck("rgb(0, 0, 0)"), no-repeat, 9px 45%, 8px);
				// background: rgba(168, 183, 199, 0.2);
			}
			&:hover{
				background-color: rgba(168, 183, 199, 0.2);
			}
		}
	}
	&.on{
		.slct_cont{
			visibility: visible;
			height: auto;
			border: 1px solid #A8B7C7;
			padding: 8px 0;
			display: block;
			z-index: 2;
		}
	}
}

.bx_chk {
	display: inline-block;
	input[type=checkbox]{
		display: none;
		&:checked+label{
			@include bgSvg(fnCheckboxFull("rgb(255, 255, 255)", "rgb(75, 202, 129)"), no-repeat, 0 0, 16px);
		}
	}
	label{ 
		font-size: 12px;
		line-height: 16px;
		padding: 1px 0 0 26px;
		box-sizing: border-box;
		cursor: pointer;
		display: inline-block;
		@include bgSvg(fnCheckbox("rgb(216, 221, 230)", "rgb(68, 68, 68)"), no-repeat, 0 0, 16px);
	}
	&.white{
		input[type=checkbox]{
			&:checked+label{
				@include bgSvg(fnCheckboxFull("rgb(255, 255, 255)", "rgb(75, 202, 129)"), no-repeat, 0 0, 14px);
			}
		}
		label{
			color: #979797;
			@include bgSvg(fnCheckbox("rgb(255, 255, 255)", "rgb(155, 155, 155)"), no-repeat, 0 0, 14px);
		}
	}
	&.big{
		input[type=checkbox]{
			&:checked+label{
				background-size: 28px;
			}
		}
		label{ 
			font-size: 14px;
			line-height: 28px;
			padding-left:44px;
			background-size: 28px;
		}
	}
}
.bx_radio {
	display: inline-block;
	input[type=radio]{
		display: none;
		&:checked+label{
			@include bgSvg(fnRadioboxFull("rgb(255, 255, 255)", "rgb(75, 202, 129)"), no-repeat, 0 0, 16px);
		}
	}
	label{ 
		font-size: 12px;
		line-height: 16px;
		padding: 1px 0 0 26px;
		box-sizing: border-box;
		cursor: pointer;
		display: inline-block;
		@include bgSvg(fnRadiobox("rgb(216, 221, 230)", "rgb(68, 68, 68)"), no-repeat, 0 0, 16px);
	}
	&.white{
		input[type=radio]{
			&:checked+label{
				@include bgSvg(fnRadioboxFull("rgb(255, 255, 255)", "rgb(75, 202, 129)"), no-repeat, 0 0, 16px);
			}
		}
		label{
			color: #979797;
			@include bgSvg(fnRadiobox("rgb(255, 255, 255)", "rgb(155, 155, 155)"), no-repeat, 0 0, 16px);
		}
	}
	&.big{
		input[type=radio]{
			&:checked+label{
				background-size: 28px;
			}
		}
		label{ 
			font-size: 14px;
			line-height: 28px;
			padding-left:44px;
			background-size: 28px;
		}
	}
}
.bx_file{
	input[type=file]{
		display: none;
	}
	.area{
		display: block;
		border: 1px solid #A8B7C7;
		box-sizing: border-box;
		border-radius: 4px;
		padding: 20px;
		margin-bottom: 18px;
		min-height: 90px;
		&.nodata{
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 12px;
			color:#A8B7C7;
		}
	}
	.bx_btn{
		text-align: right;
		button{
			margin: 0 8px;
		}
	}
}
.paginate{
	display: flex;
	height: 24px;
	justify-content: flex-end;
	align-items: center;
	em{
		display: inline-block;
		margin: 0 3px;
	}
	.btn_page{
		font-size: 14px;
		display: inline-block;
		line-height: 22px;
		min-width: 24px;
		height: 100%;
		color: $point;
		border:2px solid $point;
		text-align: center;
		border-radius: 2px;
		padding: 0 5px;
		margin: 0 3px;
		&.on{
			color:$white;
			background: $point;
		}
	}
	.btn_page_prev,.btn_page_next{
		width: 11px;
		height: 100%;
		display: inline-block;
		padding: 0;
		margin: 0 5px;
		@include blind;
		position: relative;
		&:after{
			content:"";
			@include setContent(11px, 11px, block, absolute);
			@include bgSvg(fnIcoArrow2("rgb(50, 184, 211)"), no-repeat, 50% 50%, 11px);
			top:50%;
			left:0;
			margin-top: -5px;
		}
		&.dis{
			&:after{
				background-image:fnIcoArrow2("rgb(210, 210, 210)");
			}
		}
	}
	.btn_page_prev{
		&:after{
			transform: rotate(180deg);
		}
	}
	em{
		color: $point;
	}
	.info{
		display: inline-block;
		margin-left: 13px;
		strong{
			color:$point;
			font-size: 12px;
			font-weight: normal;
		}
		.ipt_page{
			min-width: auto;
			width: 30px;
			height: 24px;
			padding: 0px 5px;
			margin-left: 2px;
			text-align: center;
			border-width: 2px;
			&::-webkit-outer-spin-button,&::-webkit-inner-spin-button{
				-webkit-appearance: none;
				margin: 0;
			}
		}
		.desc{
			margin-left: 12px;
		}
	}
	&.type2{
		height: 15px;
		justify-content: center;
		.btn_page{
			font-size: 10px;
			line-height: 15px;
			min-width: 16px;
			padding: 0 3px;
			border: 1px solid #32b8d3;
		}
		.btn_page_prev,.btn_page_next{
			width: 11px;
			height: 11px;
			margin-top: -2px;
			&:after{
				background-size: 11px 11px;
			}
		}
	}
}

//button
.btn{
	font-size: 14px;
	border: 1px solid $point;
	min-width: 65px;
	padding: 6px 15px 5px;
	color: $point;
	background: $white;
	border-radius: 2px;
	&.fill{
		color: $white;
		background: $point;
	}
}
.btn_grean{
	font-size: 12px;
	border: 1px solid #05C9BF;
	color: #05C9BF;
	border-radius: 4px;
	padding: 6px 20px 5px 20px;
	background: $white;
	&.ico{
		padding: 6px 20px 5px 35px;
		@include bgSvg(fnIcoArrowDown("rgb(5, 201, 191)"), no-repeat, 16px 50%, 15px, $white);
	}
	&.fill{
		background: #05C9BF;
		color: $white;
		&.ico{
			@include bgSvg(fnIcoArrowDown("rgb(255, 255, 255)"), no-repeat, 16px 50%, 15px, #05C9BF);
		}
	}
	&+.btn_grean{
		margin-left: 16px;
	}
}
.btn_blue{
	font-size: 16px;
	border-radius: 4px;
	padding: 7px 20px 6px;
	border: 1px solid $point;
	background: #DFFAFF;
	color: $point;
	&.fill{
		background: $point; 
		color: $white;
	}
}
.btn_gray{
	font-size: 16px;
	border-radius: 4px;
	padding: 7px 20px 6px;
	border: 1px solid #B0B0B0;
	background: $white;
	color: #979797;

}
.btn_plus, .btn_minus{
	@include setContent(32px, 32px);
	line-height: 30px;
	border: 1px solid $point;
	border-radius: 4px;
	@include blind;
}
.btn_plus{
	@include bgSvg(fnIcoPlus("rgb(5, 201, 191)"), no-repeat, 50% 50%, 10px, $white);
	&.dis{
		border-color: #E5E5E5;
		@include bgSvg(fnIcoPlus("rgb(229, 229, 229)"), no-repeat, 50% 50%, 10px, $white);
	}
}
.btn_minus{
	border: 1px solid #EC0000;
	@include bgSvg(fnIcoMinus("rgb(236, 0, 0)"), no-repeat, 50% 50%, 10px, $white);
	&.dis{
		border-color: #E5E5E5;
		@include bgSvg(fnIcoMinus("rgb(229, 229, 229)"), no-repeat, 50% 50%, 10px, $white);
	}
}
.btn_xls{
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	padding: 0 32px 0 10px;
	@include bgSvg(fnIcoXls(), no-repeat, 100% 50%, 24px);
}
.btn_msg{
	width: 16px;
	height: 16px;
	padding: 0;
	@include blind;
	@include bgSvg(fnIcoMsg("rgb(50, 184, 211)"), no-repeat, 0 50%, 16px);
}
.btn_msg{
	width: 16px;
	height: 16px;
	padding: 0;
	@include blind;
	@include bgSvg(fnIcoMsg("rgb(50, 184, 211)"), no-repeat, 0 50%, 16px);
	
}
.btn_txt{
	color:$point;
}
.btn_create {
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	padding: 0 10px 0 38px;
	@include bgSvg(fnIcoCreate("rgb(65,65,65)"), no-repeat, 0 50%, 24px);
}
.ico_bar{
	display: block;
	width: 1px;
	height: 28px;
	margin: 0 8px;
	background: #979797;
}
//search 네역
.wrap_search{
	display: flex;
	padding: 0 10px;
	font-size: 14px;
	.left{
		display: flex;
		flex-wrap: wrap;
		flex-grow: 1;
		align-items: center;
		.unit{
			margin: 0 10px 15px;
			flex-shrink: 0;
			strong{
				font-weight: normal;
				margin-right: 5px;
			}
			.btn_search{
				margin-left: 20px;
			}
			em{
				margin: 0 12px;
			}
		}
		.btn + .btn{
			margin-left: 4px;
		}
	}
	.right{
		display: flex;
		align-items: flex-start;
		flex-shrink: 0;
		button{
			margin: 0 8px;
		}
	}
}
.wrap_tbl{
	margin: 25px 0;
	thead, tbody,tr{
		width: 100%;
	}
	th,td{
		text-align: center;
		box-sizing: border-box;
	}
	.thead,.tbody{
		box-sizing: border-box;
	}
	.thead{
		th, td{
			padding: 8px 10px;
			font-size: 14px;
			button{
				font-size: 14px;
				text-align: center;
				&.ico{
					position: relative;
					padding-right: 18px;
					&:after{
						content:"";
						@include setContent(6px, 6px, block, absolute);
						@include bgSvg(fnIcoArrow2("rgb(0, 0, 0)"), no-repeat, 50% 50%, 6px);
						top:50%;
						margin-top: -3px;
						right: 3px;
						transform: rotate(90deg);
					}
					&.up{
						&:after{
							top:40%;
							transform: rotate(270deg);
							margin-top: -1px;
						}
					}
				}
			}
		}
	}
	.tbody{
		font-size: 13px;
		&::-webkit-scrollbar { 
			width: 4px; 
		} 
		.tbl{
			border-collapse: separate;
			border-spacing: 0 8px;
		}
		th,td{
			background: $white;
			padding: 6px 10px;
			&:first-child{
				border-radius: 4px 0 0 4px;
			}
			&:last-child{
				border-radius: 0 4px 4px 0;
			}
			button{
				margin: 4px 8px;
			}
		}
		tr.big{
			th, td{
				padding: 14px 10px;
			}
		}
	}
	.total{
		th, td{
			background: #DFFAFF;
			border-top:1px solid $black;
			border-bottom:1px solid $black;
			&:first-child{
				border-left:1px solid $black;
			}
			&:last-child{
				border-right:1px solid $black;
			}
		}
	}
	&.scroll{
		.thead{
			padding-right: 15px;
		}
		.tbody{
			height: 550px;
			padding-right: 10px;
			overflow-y: scroll;
		}
	}
}
.content_top{
	display: flex;
	height: 48px;
    padding: 0 43px;
	background:$white;
	h2{
		color: $point;
		font-weight: normal;
		padding-top: 4px;
	}
	.left{
		display: flex;
		align-items: center;
	}
	.right{
		display: flex;
		align-items: center;
		flex-shrink: 0;
		button{
			margin: 0 8px;
		}
	}
}
.tbl_board{
	&.type1, &.type2{
		border-top: 1px solid #979797;
		td{
			padding: 60px 15px;
			box-sizing: border-box;
			vertical-align: top;
			border-bottom: 1px solid #dddbda;
		}
		.td_img{
			width: 180px;
			padding-left: 0;
			vertical-align: middle;
			video, img{
				width: 100%;
				max-height: 231px;
			}
		}
		.td_cont{
			text-align: left;
			font-size: 14px;
			font-weight: 100;
			h4{
				font-size: 16px;
				font-weight: 100;
				margin: 12px 0 10px;
			}
			.type{
				display: block;
				font-size: 13px;
				color:$red;
				font-weight: 100;
			}
			.desc{
				height: 40px;
				margin-bottom: 16px;
				font-size: 14px;
				@include ellipsis("multi",2);
			}
		}
		.td_date{
			width: 110px;
			font-size: 13px;
			color:#979797;
		}
	}
	&.type2{
		.td_img{
			width: 429px;
			padding: 38px 60px;
			.bx_video{
				width: 100%;
				position: relative;
				.btn_play{
					@include blind;
					@include setContent(100px, 100px, block, absolute);
					@include bgSvg(fnIcoPlay("rgb(255,255,255)"), no-repeat, 0 50%, 100%);
					z-index: 2;
					top:50%;
					left:50%;
					transform: translate(-50%, -50%);
					&:hover{
						@include bgSvg(fnIcoPlay("rgb(50, 184, 211)"), no-repeat, 0 50%, 100%);
					}
				}
			}
		}
		.td_cont{
			padding: 38px 15px 72px 0;
			position: relative;
			.desc{
				height: 85px;
				@include ellipsis("multi",4);
			}
			.info{
				font-size: 12px;
				text-align: right;
				color: #979797;
				position: absolute;
				right: 15px;
				bottom: 38px;
				span{
					margin: 0 13px;
				}
			}
		}
	}
}
.tbl_create{
	border-top: 1px solid #E1E1E1;
	th{
		width: 240px;
		box-sizing: border-box;
		background:rgba(168, 183, 199, 0.14);
		border-bottom: 1px solid #E1E1E1;
		font-weight: 100;
		font-size: 14px;
	}
	td{
		box-sizing: border-box;
		padding: 20px;
		border-bottom: 1px solid #E1E1E1;
	}
	input[type=text], .slct, textarea{
		width: 100%;
	}
	input[type=text].ipt_date{
		width: 130px;
	}
	.bx_radio{
		margin: 5px 10px;
	}
}