/* margin */
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mt35{margin-top: 35px;}
.mt40{margin-top: 40px;}
.mt45{margin-top: 45px;}
.mt50{margin-top: 50px;}

.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mr25{margin-right: 25px;}
.mr30{margin-right: 30px;}
.mr35{margin-right: 35px;}
.mr40{margin-right: 40px;}
.mr45{margin-right: 45px;}
.mr50{margin-right: 50px;}

.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb35{margin-bottom: 35px;}
.mb40{margin-bottom: 40px;}
.mb45{margin-bottom: 45px;}
.mb50{margin-bottom: 50px;}

.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.ml25{margin-left: 25px;}
.ml30{margin-left: 30px;}
.ml35{margin-left: 35px;}
.ml40{margin-left: 40px;}
.ml45{margin-left: 45px;}
.ml50{margin-left: 50px;}

/* padding */
.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pt25{padding-top: 25px;}
.pt30{padding-top: 30px;}
.pt35{padding-top: 35px;}
.pt40{padding-top: 40px;}
.pt45{padding-top: 45px;}
.pt50{padding-top: 50px;}

.pl5{padding-left: 5px;}
.pl10{padding-left: 10px;}
.pt15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.pl25{padding-left: 25px;}
.pl30{padding-left: 30px;}
.pl35{padding-left: 35px;}
.pl40{padding-left: 40px;}
.pl45{padding-left: 45px;}
.pl50{padding-left: 50px;}

.pr5{padding-right: 5px;}
.pr10{padding-right: 10px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px;}
.pr25{padding-right: 25px;}
.pr30{padding-right: 30px;}
.pr35{padding-right: 35px;}
.pr40{padding-right: 40px;}
.pr45{padding-right: 45px;}
.pr50{padding-right: 50px;}

.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb25{padding-bottom: 25px;}
.pb30{padding-bottom: 30px;}
.pb35{padding-bottom: 35px;}
.pb40{padding-bottom: 40px;}
.pb45{padding-bottom: 45px;}
.pb50{padding-bottom: 50px;}

.txt_white{ color:#ffffff;}
.txt_black { color:#000000;}
.txt_green{ color:#025454;}
.txt_green_light{ color:#00a9c0;}
.txt_green_dark{ color:#2f4d56;}
.txt_bule_light{ color:#005ec0;}
.txt_bule_dark{ color:#002470;}
.txt_brown_light{ color:#9a8478;}
.txt_brown_dark{ color:#1e130c;}
.txt_purple_light{color:#c567d8;}
.txt_yellow{ color:#fdef72;}
.txt_purple_dark{ color:#361bb2;}

.show{
	display: block !important;
}
.show_flex{
	display: flex !important;
}
.hide{
	display: none !important;
}
.flex{
	display: flex;
}
.left{
	flex-grow: 1;
}
.right{
	flex-shrink: 0;
}

input {
	align-items: center;
	border-radius: 4px;
	background: #FFFFFF;
	border: 1px solid #A8B7C7;
	font-size: 13px;
	color: #AEB5BC;
	box-sizing: border-box;
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	padding: 2px 8px 0;
	box-sizing: border-box;
	&.big{
		height: 40px;
	}
	&.ico_search{
		width: 130px;
		@include bgSvg(fnIcoSearch("rgb(112, 110, 107)"), no-repeat, 93% 50%, 15px, $white);
		padding-right: 23px;
	}
	&.ico_calendar{
		width: 130px;
		padding-right: 23px;
		@include bgSvg(fnIcoCalendar("rgb(176, 173, 171)"), no-repeat, 94% 50%, 15px, $white);
	}
}

.slct{
	display: inline-block;
	position: relative;
	min-width: 50px;
	&.big{
		.slct_tit{ 
			height: 40px;
		}
	}
	.slct_tit{
		position: relative;
		min-width: 30px;
		height: 30px;
		padding: 2px 22px 0 8px;
		box-sizing: border-box;
		background: #FFFFFF;
		border: 1px solid #A8B7C7;
		border-radius: 4px;
		display: flex;
		align-items: center;
		font-size: 13px;
		color: #AEB5BC;
		cursor: pointer;
		z-index: 3;
		&:after{
			content: "";
			width: 7px;
			height: 4px;
			position: absolute;
			right: 8px;
			@include bgSvg(fnSlctDrop("rgb(0, 0, 0)"), no-repeat, 0 0, 7px);
		}
	}
	.slct_cont{
		min-width: 100%;
		background: #FFFFFF;
		border-radius: 4px;
		box-sizing: border-box;
		position: absolute;
		top: 29px;
		right: 0;
		overflow: hidden;
		height: 0;
		visibility: hidden;
		border-color: #A8B7C7;
		transition: all 0.1s;
		font-weight: 100;
		li{
			font-size: 14px;
			padding: 3px 9px 1px 24px;
			box-sizing: border-box;
			cursor: pointer;
			&.select{
				font-weight: 600;
				padding: 3px 9px 1px 24px;
				@include bgSvg(fnIcoCheck("rgb(0, 0, 0)"), no-repeat, 9px 45%, 8px);
				// background: rgba(168, 183, 199, 0.2);
			}
			&:hover{
				background-color: rgba(168, 183, 199, 0.2);
			}
		}
	}
	&.on{
		.slct_cont{
			visibility: visible;
			height: auto;
			border: 1px solid #A8B7C7;
			padding: 8px 0;
			display: block;
			z-index: 2;
		}
	}
}

.bx_chk {
	display: inline-block;
	input[type=checkbox]{
		display: none;
		&:checked+label{
			@include bgSvg(fnCheckboxFull("rgb(255, 255, 255)", "rgb(75, 202, 129)"), no-repeat, 0 0, 16px);
		}
	}
	label{ 
		font-size: 12px;
		line-height: 16px;
		padding: 1px 0 0 26px;
		box-sizing: border-box;
		cursor: pointer;
		display: inline-block;
		@include bgSvg(fnCheckbox("rgb(216, 221, 230)", "rgb(68, 68, 68)"), no-repeat, 0 0, 16px);
	}
	&.big{
		input[type=checkbox]{
			&:checked+label{
				background-size: 28px;
			}
		}
		label{ 
			font-size: 14px;
			line-height: 28px;
			padding-left:44px;
			background-size: 28px;
		}
	}
}

.paginate{
	display: flex;
	height: 24px;
	justify-content: flex-end;
	align-items: center;
	em{
		display: inline-block;
		margin: 0 3px;
	}
	.btn_page{
		font-size: 14px;
		display: inline-block;
		line-height: 22px;
		min-width: 24px;
		height: 100%;
		color: $point;
		border:2px solid $point;
		text-align: center;
		border-radius: 2px;
		padding: 0 5px;
		margin: 0 3px;
		&.on{
			color:$white;
			background: $point;
		}
	}
	.btn_page_prev,.btn_page_next{
		width: 11px;
		height: 100%;
		display: inline-block;
		padding: 0;
		margin: 0 5px;
		@include blind;
		position: relative;
		&:after{
			content:"";
			@include setContent(11px, 11px, block, absolute);
			@include bgSvg(fnIcoArrow2("rgb(50, 184, 211)"), no-repeat, 50% 50%, 11px);
			top:50%;
			left:0;
			margin-top: -5px;
		}
		&.dis{
			&:after{
				background-image:fnIcoArrow2("rgb(210, 210, 210)");
			}
		}
	}
	.btn_page_prev{
		&:after{
			transform: rotate(180deg);
		}
	}
	em{
		color: $point;
	}
	.info{
		display: inline-block;
		margin-left: 13px;
		strong{
			color:$point;
			font-size: 12px;
			font-weight: normal;
		}
		.ipt_page{
			min-width: auto;
			width: 30px;
			height: 24px;
			padding: 0px 5px;
			margin-left: 2px;
			text-align: center;
			border-width: 2px;
			&::-webkit-outer-spin-button,&::-webkit-inner-spin-button{
				-webkit-appearance: none;
				margin: 0;
			}
		}
		.desc{
			margin-left: 12px;
		}
	}
}

//button
.btn_search{
	font-size: 14px;
	border: 1px solid $point;
	padding: 6px 20px 5px;
	color: $point;
	background: $white;
	border-radius: 2px;
}
.btn_grean{
	font-size: 12px;
	border: 1px solid #05C9BF;
	color: #05C9BF;
	border-radius: 4px;
	padding: 6px 20px 5px 20px;
	background: $white;
	&.ico{
		padding: 6px 20px 5px 35px;
		@include bgSvg(fnIcoArrowDown("rgb(5, 201, 191)"), no-repeat, 16px 50%, 15px, $white);
	}
	&.fill{
		background: #05C9BF;
		color: $white;
		&.ico{
			@include bgSvg(fnIcoArrowDown("rgb(255, 255, 255)"), no-repeat, 16px 50%, 15px, #05C9BF);
		}
	}
}
.btn_blue{
	font-size: 16px;
	border-radius: 4px;
	padding: 7px 20px 6px;
	min-width: 150px;
	border: 1px solid $point;
	background: #DFFAFF;
	color: $point;
	&.fill{
		background: $point; 
		color: $white;
	}
}
.btn_plus, .btn_minus{
	@include setContent(32px, 32px);
	line-height: 30px;
	border: 1px solid $point;
	border-radius: 4px;
	@include blind;
}
.btn_plus{
	@include bgSvg(fnIcoPlus("rgb(5, 201, 191)"), no-repeat, 50% 50%, 10px, $white);
	&.dis{
		border-color: #E5E5E5;
		@include bgSvg(fnIcoPlus("rgb(229, 229, 229)"), no-repeat, 50% 50%, 10px, $white);
	}
}
.btn_minus{
	border: 1px solid #EC0000;
	@include bgSvg(fnIcoMinus("rgb(236, 0, 0)"), no-repeat, 50% 50%, 10px, $white);
	&.dis{
		border-color: #E5E5E5;
		@include bgSvg(fnIcoMinus("rgb(229, 229, 229)"), no-repeat, 50% 50%, 10px, $white);
	}
}