body {
	width: 100%;
	min-height: 100%;
	min-width: 1440px;
	display: flex;
	flex-direction: column;
}
h1 {
	font-size: 56px;
	line-height: 67px;
	letter-spacing: -3px;
}
h2 {
	font-size: 24px;
	line-height: 28px;
	letter-spacing: -0.05px;
}
h3 {
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.05px;
}
h4{
	font-size: 16px;
	line-height: 19px;
	font-weight: normal;
}
header {
	width: $width;
	height: 64px;
	display: flex;
	padding: 0 12px 0 21px;
	box-sizing: border-box;
	@include bg('common/bg_header.jpg', no-repeat, 0 50%, 100% 100%, $bule_dark);
	color: $white;
	h1 {
		font-size: 24px;
		letter-spacing: 0;
		padding-top: 4px;
	}
	.date {
		font-size: 18px;
		font-weight: 100;
		padding-top: 4px;
	}
	.ico_bar{
		font-size: 18px;
		margin: 0 20px;
		padding-top: 4px;
	}
	.btn_menu{
		margin-right: 26px;
		@include setContent(21px, 13px);
		@include bg('common/btn_menu.png');
		@include blind;
	}
	.btn_add{
		@include setContent(24px, 24px);
		@include bg('common/btn_add.png');
		@include blind;
	}
	.btn_help{
		@include setContent(24px, 24px);
		@include bg('common/btn_help.png');
		@include blind;
	}
	.btn_noti{
		@include setContent(16px, 20px, block, relative);
		@include bg('common/btn_noti.png');
		margin: 0 28px;
		em {
			@include setContent(auto, 16px, block, absolute);
			min-width: 16px;
			top:-4px;
			left: 10px;
			border-radius: 25px;
			background: #FF6F06;
			color:$white;
			font-size: 12px;
			line-height: 16px;
			box-sizing: border-box;
			padding: 2px 4px;
			text-align: center;
		}
	}
	.btn_profile{
		overflow: hidden;
		padding: 0px;
		margin-left: 34px;
		color: $white;
		display: flex;
		align-items: center;
		span {
			font-size: 14px;
		}
		img{
			@include setContent(40px, 40px);
			border-radius: 50%;
			margin-left: 16px;
		}
	}
	.left, .right {
		height: 100%;
		display: flex;
		align-items: center;
	}
}

.summary {
	width: $width;
	height: 173px;
	box-sizing: border-box;
	display: flex;
	@include bg('common/bg_summary.jpg', no-repeat, 0 50%, 100% 100%, #005ec0);
	color: $white;
	h2{
		padding-left: 4px;
	}
	a {
		color: $white;
	}
	.left{
		align-self: flex-end;
		padding: 0 0 33px 44px;
		box-sizing: border-box;
	}
	.right{
		padding: 0 48px 42px 0;
		align-self: flex-end;
		box-sizing: border-box;
		display: inline-flex;
		text-align: right;
		font-size: 16px;
		line-height: 1.3;
		font-weight: 100;
		strong{
			display: block;
			font-weight: normal;
		}
		span{
			display: block;	
		}
	}
	.unit{
		@include setContent(auto, 34px, inline-block, relative);
		min-width: 128px;
		padding: 0 20px 0 16px;
		margin-bottom: 16px;
		box-sizing: border-box;
		&::before {
			@include setContent(4px, 34px, inline-block, absolute, $white);
			content: "";
			top:0;
			left: 0;
		}
	}
	.step {
		@include setContent(44px, 44px);
		border: 2px solid #c8c8c8;
		border-radius: 50%;
		color: #c8c8c8;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		margin-left: 30px;
		box-sizing: border-box;
		padding-top: 2px;
		span{
			margin-left: 8px;
		}
		&.on{
			color: $black;
			width: auto;
			border-radius: 25px;
			padding: 2px 25px 0;
			box-sizing: border-box;
			background: #FFFFFF;
			border: none;
			box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.35);
		}
		&.done{
			@include bg("/common/ico_check.png", no-repeat, 50% 50%);
			@include blind;
		}
	}
}
.container {
	padding: 30px 30px 70px;
	box-sizing: border-box;
	flex: 1;
}
footer{
	height: 32px;
	box-sizing: border-box;
	background: #5F8189;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	.copyright{
		display: block;
		font-size: 14px;
		line-height: 1;
		font-weight: 100;
		padding-top: 4px;
	}
}